{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="pt-24 w-full h-screen mx-auto bg-primary-100">
  <div class="flex justify-center items-center relative">
    <h1 class="py-10 text-4xl font-bold">社員一覧</h1>

    <div class="w-1/5 text-center flex-1 absolute right-20">
      <a href="{% url 'work:home' user.pk %}"><h3 class="font-bold">{{user.name}}さんの勤怠一覧へ</h3></a>

      <form method="POST" action="{% url 'acounts:logout' %}" name="logout_form">
        {% csrf_token %}
        <a href="#" onclick="document.logout_form.submit();" class="hover:underline hover:decoration-blue-500">ログアウト</a>
      </form>

    </div>
  </div>

  <table class="table-auto w-50% mx-auto mt-24">
    <thead>
      <tr>
        <th class="border-black border-2 px-4 py-2">社員番号</th>
        <th class="border-black border-2 px-4 py-2 w-3/4">名前</th>
      </tr>
    </thead>
    <tbody>

      {% for object in object_list %}
        <tr>
          <td class="border-black border-2 px-4 py-2 text-center">{{object.employee_number}}</td>
          <td class="border-black border-2 px-4 py-2 ">
            <div class="flex justify-between">
              <p class="font-bold">{{object.name}}</p>
              <a href="">勤怠一覧</a>
            </div>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

<script src="{% static 'javascript/works/employeeList.js' %}"></script>

{% endblock content%}